<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <a class="btn" href="/admin">Admin</a>
                <a class="btn" href="{% url 'locations:lista_locatii' %}">Locatii</a>
                <a class="btn" href="{% url 'jobs:lista_jobs' %}">Jobs</a>
                <a class="btn" href="{% url 'logout' %}">Logout</a>


            </nav>
        </div>
    </div>
</div>
<div class="col-md-12">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>